<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        
    </body>
</html>

{% comment %} a form with method POST
an input with name 'name'

when form is submitted with non-empty value for 'name'
>> redirects to another page
>> create todolist record in db 

when form is submitted with empty val for 'name', then form is not valid and return page does not redirect
{% endcomment %}