<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        
    </body>
</html>

{% comment %} responds 200 status code for todo list in database(does it work/success)

responds with 404 for todolist not found

*link to delete page for todolist
*link to edit page for todolist
*for each todo item in todolist, a link to that todo items edit page {% endcomment %}