{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <title>To Do List
        </title>
    </head>
    <body>
    {%for i in todolist_list%}
        <a href="{% url 'todos_detail' i.pk %}">{{i.name}} </a>
    {%endfor%}
    <ul>
        {% comment %} <li> <a href="{% url 'todos_detail' .pk%}">to do details </a></li> {% endcomment %}
        <li> <a href="{% url 'todos_create'%}"> create to do list</a></li>
        <li> <a href="{% url 'item_create'%}">add item to todo </a></li>
    </ul>
    
    </body>
</html>

{% comment %} 
need todo lists name in it 
link to detail page todo list
link to create page todo list 
link to create page todo item  
{% endcomment %}